# DotEnv configuration
.env
# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/


# but keep files that are keepme.txt please
# exclude data from source control by default
data/*.*
data/interem/*.*
data/raw/*.*
# but keep .gitkeep files and data_manifest files
!.gitkeep
!**/data_manifest.txt

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# py cache
*.pyc

# !**/.gitkeep
