# DotEnv configuration
.env

!**/keepme.txt

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/


# but keep files that are keepme.txt please
# exclude data from source control by default
/data/
# !**/.gitkeep

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# py cache
*.pyc

# !**/.gitkeep
